ul.inline {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.inline li {
  display: inline;
  font-size: inherit;
}

div.webcam_thumb {
  display: inline-block;
}

.webcam_thumb a {
  display: block;
}