.footer {
	position:relative;
	top: 30px;
	
	margin-top:3px;
	clear: both;
}

.footer a {
	text-decoration:none;
	color: #DDDDDD;
	outline:none;
}

.credits {
	border-top: 1px solid #8E8E8E;
}

.project_footer {
	clear:both;
}

.project_footer a {
	text-decoration:none;
	color: #DDDDDD;
	outline:none;
}

.project_footer a:hover {
	color: #5D0000;
}

.footer a {
	text-decoration:none;
	color: #DDDDDD;
	outline:none;
}

.footer a:hover {
	color: #5D0000;
}

.project_footer {
	position: relative;
	top: 30px;
}
