
.container {
	position: relative;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	top: 20px;
}

.content {
	position: relative;
	top: 40px;
	text-align:justify;
	padding-bottom: 10px;
}

.images {
	position: absolute;
	top: 0px;
	left: 0px;
	
	padding-bottom: 50px;
	width: 410px;
}

.images img {
	padding-right: 10px;
	padding-bottom: 10px;
}

.text {
	position: relative;
	left: 51%;
	width: 49%;
}

.text p {
text-align: justify;
}

.right_align {
  text-align: right;
  padding-right: 2em;
}

div.content table {
  text-align: left;
}

table tr td:last-child {
    width: 250px;
}
