<div class="footer">
	<div class="credits footer">
		<p><strong>Austin</strong> | 1111 E. 11th Street Suite 200  : Austin Texas 78702 : United States of America | +1 512 481 0092</p>
		<p><strong>Los Angeles</strong> | 1545 Wilcox Avenue Suite 107 : Los Angeles California 90028 : United States of America | +1 512 481 0092</p>
		<p><strong>Asia Pacific</strong> | 7F-1, 333 Chung Hsiao E. Rd. Sec. 4 : Taipei Taiwan : Republic of China | +886 2 2775 5320</p>
		<p><a href="mailto:info@bcarc.com">info@bcarc.com</a> | <%= t('copyright') %> | <%= link_to t('subscribe'), "http://eepurl.com/cs8F" %> <%=t('to_our_newsletter')%></p>
	</div>
</div>
