<div class="project_footer project_name heading">
  <% @project.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), {:class => 'item'} %> > <%= link_to @project.name, project_url(@project), {:class => 'item', :rel => 'prerender'} %>
  <% end %>
</div>
