<% unless @project.plans.empty? %>
  <ul class="nav_left">
  	<li style="float:left;"> <%= t('floor_plans') %> ></li>
  	<% @project.plans.each do |plan| %>
  	  <li><%= link_to t(plan.name.parameterize('_')), project_plan_url(@project, plan), :class => (plan == @plan ? 'plan_link current_view' : 'plan_link') %></li>
    <% end %>
  </ul>
<% end %>
