<div class="project_footer">
	<div class="project_name heading">
	  <% @project.tags.each do |tag| %>
	    <%= link_to tag.name, tag_url(tag), {:class => 'item'} %> > <%= link_to @project.name, project_url(@project), {:class => 'item'} %>
    <% end %>
	</div>
</div>
