<ul class="nav_left">
  <% unless @project.latitude.blank? && @project.longitude.blank? %>
    <li style="float:left;"> <%= link_to t('map').downcase, map_project_path(@project) %> </li>
    
    <% unless @project.plans.empty? %>
      <li style="float:left;">|</li>
    <% end %>
  <% end %>

  <% unless @project.plans.empty? %>
  	<li style="float:left;"> <%= t('floor_plans').downcase %> ></li>
  	<% @project.plans.each do |plan| %>
  	  <li><%= link_to plan.name.downcase, project_plan_path(@project, plan), :class => (plan == @plan ? 'plan_link current_view' : 'plan_link') %></li>
    <% end %>
  <% end %>
</ul>