<% @projects.group_by(&:year).sort.each do |year, projects| %>
	<div class="yeargroup">
		<h3><%= year %></h3>
		<% projects.each do |project| %>
		  <%= render :partial => 'shared/work_container', :locals => {:project => project} %>
		<% end %>
	</div>
<% end %>
