<% content_for :head do %>
  <%
  markers = @projects.map do |project|
    GMarker.new( [project.latitude,project.longitude], :title => project.name, :info_window => "#{image_tag project.thumbnail.attachment.url(:index), :size => '390x180'}<br/><h2>#{project.name}</h2>" )
  end

  group = GMarkerGroup.new(true, markers)
  @map.overlay_global_init( group, 'markerGroup' )
  @map.record_init group.center_and_zoom_on_markers
  %>
  
  <%= GMap.header %>
  <%= javascript_include_tag("markerGroup") %>
  <%= @map.to_html %>
<% end %>

<%= @map.div(:width => 800, :height => 600) %>


