<% @projects.group_by(&:year).sort.each do |year, projects| %>
	<div class="yeargroup">
		<h3><%= year %></h3>
		<% projects.each do |project| %>
			<div class="work_container" >
			  <%#= image_tag project.thumbnail.indexsize, :class => 'work_thumb' %>
        <% link_to project_url(project), :class => 'work_text' do %>
					<h2><%= project.name %></h2>
					<%= project.short.to_html %>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>